* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

#header {
    background-color: #31c54a;
    position: relative;
    height: 48px;
    background: #009270;
    height: 70px;
}

#header nav {
    background: #009270;
}

#header .navbar-brand {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    ;
}

#header .navbar-brand img {}

#header .navbar-brand .navbar-nav {}

#header .nav-item {
    padding: 5px 26px;
}

#header .nav-item:after {
    content: '';
}

#header .nav-link {
    color: #fff;
    font-weight: 600;
}

.navbar-collapse .navbar-nav {
    background: #009270;
}


/*banner section */

#banner {
    background-image: url(../img/home-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100px;
    background-size: cover;
}

#banner .banner-content {}

#banner .banner-content h3 {
    color: #fff;
    padding: 15px;
}

#banner .banner-content p {
    color: #fff;
    margin: 0px;
    padding: 10px;
}

#banner .intro {
    padding: 7px;
    color: #fff;
    font-size: 16px;
    background: #009270;
    font-weight: 100;
    line-height: 27px;
}


/* brand */

#brand {}

#brand .brand-content {
    padding: 10px;
    border: 1px solid #c5c5c5;
}

#brand .brand-content h2 {
    background: #009270;
    color: #fff;
    display: block;
    padding: 6px;
    font-size: 18px;
    text-align: center;
}

#brand .brand-div {
    border: 1px solid #e1e2e23d;
    padding: 9px;
}

#brand .brand-div:hover {
    background: rgb(13 110 253 / 25%);
    transition: .5s;
    box-shadow: 2px 5px 5px 0px #ddd;
}

#brand .brand-div img {
    width: 100%;
}

#brand .brand-div .heading {
    font-size: 14px;
    font-weight: 600;
}

#brand .brand-div .heading a {
    color: #009270;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

#brand .brand-div .description {
    font-size: 14px;
}

#brand .brand-btn {
    font-size: 16px;
    color: rgb(0 146 112);
    padding: 5px;
    font-weight: 600;
    border: 1px solid #009270;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

#brand .newly-launched {}

#brand .newly-launched h3 {
    font-size: 12px;
    text-align: left;
    background: #53a08e;
    padding: 6px;
    color: #fff;
}

#brand .newly-launched h2 {}

#brand .newly-launched a {
    color: #fff;
    text-align: center;
}

#brand .newly-launched img {}


/* mobile section */

#mobile-section {}

#mobile-section h3 {
    background: #009270;
    color: #fff;
    padding: 7px;
    margin-top: 10px;
}

#mobile-section .container {}

#mobile-section .card {
    border: 1px solid #53a08e;
    border-radius: 0px;
}

#mobile-section .card-body {
    padding: 0px;
}

#mobile-section .itemside {
    margin: 0px;
    padding: 0px;
}

#mobile-section .caption {
    color: #fff;
    font-size: 13px !important;
    background: #009270;
}

#mobile-section .card-body .heading {
    font-size: 13px;
    text-align: left;
    padding: 6px;
    color: #fff;
    margin: 0px;
}


/* footer */

#footer-section {
    background: #061621;
    min-height: 150px;
    color: #F7F8F8;
}

#footer-section .footer-block {}

#footer-section .footer-block {}

#footer-section h2 {}

#footer-section ul {
    margin-top: 40px;
}

#footer-section ul>li {
    border: 0px;
    background: none;
    line-height: 12px;
    font-size: 14px;
}

#footer-section ul>li>a {
    color: #fff;
}